* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main {
  background-image: url(assets/images/gpd.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1500px, 100vw);
  height: 80vh;
  opacity: 0.85;
  position: relative;

}

.main .box {
  position: absolute;
  top: 0;
  height: 80vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.98;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 66px;
  max-width: 80vw;
  margin: auto;


}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 5;
  padding: 20px 23px
}


nav button {
  position: relative;
  z-index: 5;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-weight: 500;
}

.hero {
  display: flex;
  height: calc(100%-62px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #f5f1f1;
  position: relative;
  z-index: 5;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
  padding: 0 30px;
  /* Add some padding for spacing on smaller screens */
}

.hero> :first-child {
  font-weight: 900;
  font-size: 56px;
  margin-top: 175px;
  text-align: center;
  /* Removed margin-top: 100px; */
}


.hero> :nth-child(2) {
  font-weight: 900;
  font-size: 56px;
  text-align: center;
}

.hero> :nth-child(3) {
  font-size: 20px;
  margin: 18px 0;
  font-weight: 500;
  text-align: center;
}

/* Remove or adjust the bottom margin on the spans to bring the input closer */
.hero> :nth-child(4) {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  /* Adjusted from 190px */
}

input {
  padding: 15px;
  width: 450px;
  max-width: 80vw;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}


.separation {
  height: 60px;
  width: 100vw;
  background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;

}

.btn {
  padding: 3px 10px;
  font-weight: bold;
  background-color: rgba(20, 20, 20, 0.6);
  border: 1px solid white;
  color: white;

}

.btnmrd {
  width: 125px;
  padding: 8px 16px;
}

.btnrnd {
  padding: 8px 16px;
  background-color: #e50914;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
  font-weight: bold;
}

.btnsmd {
  padding: 16px 40px;
  background-color: #e50914;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
  font-weight: bolder;
  margin-left: 7px;
}



.main input {
  padding: 16px 20px;
  /* Reduced the horizontal padding */
  width: 350px;
  /* Reduced the fixed width */
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* This is the new line */
  border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(20, 20, 20, 0.6);

}

.main input::placeholder {
  color: white;
  opacity: 0.8;
  position: relative;
  z-index: 5;
}

.more{
  background-color: black;
  color: white;
  text-align: left;
  padding: 10px 10px;
  font-size: 2rem;
  font-weight: 700;
  top: 0;
  margin: auto;
  max-width: 80vw;
  
}


.card1{
  display: flex;
  align-items: left;
  justify-content: left; 
  gap: 10px;
  padding: 20px 0;
  height: 100px;
  width: 60vh;
  margin: auto;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
}

.cardtxt{
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px 0;
  color: white;
  text-align: left;
  width :400px;
}
.txtl1{
  font-size: 2rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: left;
  position: relative;
  z-index: 5;

}